@charset "UTF-8";
/* Custom Styles */

.bg-login {
    background-color: #0055a9;
    background-image: url('../img/login-bg-gut.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

button, input, optgroup, select, textarea {
    border-radius: 5px !important;
    border: 1px solid #CBD5E1 !important;
    background: #fff !important;
    width: 100% !important;
    padding: 10px !important;
    margin: 5px 0 !important;
    /* font-size: 12px !important; */
    line-height: 18px !important;
}

[type=button], [type=reset], [type=submit], [type=button], button {
    background-color: #0055a9 !important;
    border-radius: 50px !important;
    padding: 10px !important;
    color: #fff !important;
    font-weight: bold !important;
}

input:focus-visible {
    border: 1px solid #0055a9 !important;
}

.img-company {
    width: 40px;
    border-radius: 100%;
    margin: 0 5px 5px 0;
    border: 5px solid #0055a9;
    float: left;
}

.neg-marg {
    margin-left: -18px;
}

.inpt-w-auto {
    width: auto !important;
}

.fgt-pwd {
    color: #0055a9;
    text-align: end;
}

.form-cont-h {
    height: 100vh;
    overflow-y: auto;
}

/* Dan - Feb 2022 */

a {
    color: #0055a9;
    text-decoration: none;
}

a:hover {
    color: #0055a9;
    text-decoration: underline;
}

.file {
    visibility: hidden;
    position: absolute;
}

/* .g-recaptcha {
   transform:scale(2);
   -webkit-transform:scaleX(3);
   transform-origin:0 0;
   -webkit-transform-origin:0 0;
} */

/* file upload https://bbbootstrap.com/snippets/single-file-upload-preview-thumbnail-74683784 */
/*body {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    background: linear-gradient(to right, #D50000, #b06ab3);*/
/*    color: #d7d7ef;*/
/*    font-family: 'LATO', sans-serif*/
/*}*/

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    transition: .2s;
    border-radius: 5px !important;
    border: 1px solid #CBD5E1 !important;
    background: #fff !important;
    width: 100% !important;
    padding: 10px !important;
    margin: 5px 0 !important;
    line-height: 18px !important;
}

.choose-file-button {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: capitalize;
}

.file-message {
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.img-txt-hint {
    margin-top: 0.25rem !important;
    font-size: .75rem !important;
    color: rgba(148,163,184, 1) !important;
    margin-bottom: 10px !important;
}

.preview {
    background: #f5f5f5;
    margin-bottom: 30px;
}

.cbox-style {
    border-radius: 2px !important;
    background-color: #fff !important;
    border: 2px solid #cbd5e1 !important;
    font-size: 1px;
    height: 20px !important;
    width: 20px !important;
    z-index: 1;
    margin-top: 3px !important;
}

/*.g-recaptcha div {*/
/*    height: auto !important;*/
/*    width: 100% !important;*/
/*}*/

/*iframe {*/
/*    height: auto !important;*/
/*    width: 100% !important;*/
/*}*/

.rc-anchor-light {
    height: auto !important;
    width: 100% !important;
    float: left !important;
    position: relative !important;
}

.rc-anchor-compact {
    height: auto !important;
    width: 95% !important;
    float: left !important;
    position: relative !important;
    padding: 20px 2% !important;
}

.rc-anchor-content {
    height: auto !important;
    width: 50% !important;
    float: left !important;
    position: relative !important;
}

.rc-anchor-compact-footer {
    height: auto !important;
    width: 50% !important;
    float: left !important;
    position: relative !important;
    margin: 0 !important;
}

.rc-anchor-checkbox-label {
    width: 100% !important;
}

.rc-anchor-checkbox-label {
    font-family: Roboto,helvetica,arial,sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 32px !important;
}

.rc-anchor-logo-landscape {
    text-align: right !important;
}

.rc-anchor-pt {
    text-align: right !important;
    float: right !important;
}

.mandatory-field {
    border-inline-start-width: 4px !important;
    --tw-border-opacity: 1 !important;
    border-inline-start-color: rgba(220,38,38, 1) !important;
    border-radius: 0.5rem !important;
}

.error-msg {
    color: #dc2626;
}

.eye-icon {
    margin-left: -30px !important;
    margin-top: 15px;
    cursor: pointer;
    z-index: 1;
}

.field-label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */

    color: #64748B;
}

.input-group {/*align date text box with icon*/
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /*width: 100%;*/
    /*flex-direction: row;*/
}

